@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;

    //padding-left: 6vw;
    padding-top: 4vw;
    padding-bottom: 40px;
    border-bottom: 1px solid #F7F7F7;

    &__logo-and-name {
        display: flex;

        & .logo {
            width: 38px;
            height: 38px;
            margin-right: 17px;
        }

        & .title-and-subtitle {
            & .title {
                @include fontInfo(800);
                color: $primary-color;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.01em;
            }

            & .subtitle {
                @include fontInfo(400);
                color: $secondary-color;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}