.category_and_filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 170px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}